@import '../../styles/_colors.scss';
@import '../../styles/style.scss';

.content {
  @include container;
  flex: 1;
  &-title {
    color: $color-primary;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
  }
  &-list {
    
  }
}