@import '../../../styles/colors.scss';

.card {
  width: 30%;
  border: 1px solid $color-secondary;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.28);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.28);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.28);
  margin: 15px 5px;
  padding-bottom: 10px;

  &-img {
    border-radius: 10px;
    img {
      height: auto;
      width: 100%;
    }
  }

  &-text {
    font-size: 16px;
    line-height: 20px;
    color: $color-primary;
    text-align: center;
  }
  &-info {
    text-align: center;
    display: block;
    width: 100px;
    margin: 0 auto;
    color: #FFF;
    border-radius: 10px;
    padding: 5px;
    background-color: $color-success;
  }
}