@import '../../../styles/colors.scss';
@import '../../../styles/style.scss';

.footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-self: center;
  background: $color-primary;
  color: #FFF;
  text-align: center;
  .container {
    @include container;
  }
}